@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Programmig Quiz </h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            New to programming?
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Take the first quiz", "Index", "Quiz")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more insight</h2>
        <p>Easy level. </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Take me to the quiz &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pushing forward. </h2>
        <p>Medium. </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Take me to the quiz &raquo;</a></p>
    </div>
    @*<div class="col-md4">
            <h2>I´m a pro.</h2>
            <p>Hard Level</p>
            <p><a class="btn btn-default" href="">Take me to the quiz</a></p>
        </div>*@
</div>